/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #222222;
  color: #aaa;
}

.my-snack-bar {
  background-color: #111;
  color: inherit;
}