<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{specification.ipAddress || "Unspecified Address"}}
    </mat-panel-title>
    <mat-panel-description>
      Settings
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field class="form-item">
    <mat-label>IP Address</mat-label>
    <input matInput placeholder="192.168.x.x" [(ngModel)]="specification.ipAddress">
    <!-- <input matInput placeholder="192.168.x.x" [(ngModel)]="specification.ipAddress"> -->
  </mat-form-field>
  <mat-form-field class="form-item">
    <mat-label>Number of LEDs</mat-label>
    <input type="number" matInput placeholder="1-490" [(ngModel)]="specification.numberOfLeds">
  </mat-form-field>
  <mat-checkbox class="form-item" [(ngModel)]="specification.flipHorizontally">
    Flip LED direction
  </mat-checkbox>
  <div class="form-item slider-container">
    <label class="label" for="saturation-slider">Saturation</label>
    <mat-slider id="saturation-slider" min="-100" max="100" [(ngModel)]="specification.saturationAdjustment" thumbLabel></mat-slider>
  </div>
  <div class="form-item slider-container">
    <label class="label" for="blur-slider">Blur Radius</label>
    <mat-slider id="blur-slider" min="0" max="10" [(ngModel)]="specification.blurRadius" thumbLabel></mat-slider>
  </div>
  <button mat-raised-button color="primary" id="apply" (click)="apply()">Apply</button>

</mat-expansion-panel>