:host {
    width: 100%;
}

.form-item {
    display: block;
    max-width: 400px;
    margin: .8em 0;
}

#save  {
    margin-top: 1em;
}

mat-slider {
    flex: auto;
}

mat-label {
    display: inline;
}

.slider-container {
    display: flex;
    align-items:center;
}

mat-expansion-panel button {
    margin: 0 .5em;
}

#locked {
    font-size: 16px;
    height: 16px;
    color: #faa
}