<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        {{ profile.regex || "Default Profile" }} <mat-icon *ngIf="isLocked" id="locked">lock</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Profile
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field class="form-item">
    <mat-label>Window Title Regex</mat-label>
    <input matInput placeholder="^my\s+regex$" [ngModel]="profile.regex">
  </mat-form-field>
  <div>
    <mat-form-field>
        <mat-label>X</mat-label>
        <input matInput type="number" placeholder="0" [ngModel]="profile.area.x">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Y</mat-label>
        <input matInput type="number" placeholder="0" [ngModel]="profile.area.y">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <mat-label>Width</mat-label>
        <input matInput type="number" placeholder="1920" [ngModel]="profile.area.width">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Height</mat-label>
        <input matInput type="number" placeholder="1080" [ngModel]="profile.area.height">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" id="save" (click)="save()">Save</button>
    <button mat-stroked-button id="lock" (click)="lock()" [matTooltip]="isLocked ? 'Unlock this profile' : 'Force enable and lock this profile'">
      <mat-icon>{{isLocked ? "lock_open" : "lock"}}</mat-icon>
    </button>
    <button mat-stroked-button color="warn" id="remove" (click)="delete()" matTooltip="Delete the profile"><mat-icon>delete</mat-icon></button>
  </div>

</mat-expansion-panel>